In [ ]:
================== Basic Python ==============================
- Variables

- Data types

- Type conversion

- Print

- eval and input

- Basic codes

- Packages

- conditional statements

- try and except

- functions

- for loop

- while loop

=================== Intermediate python =======================
- Strings

- Lists

- List Comprhension

- Tuple ====== > You should

- Sets  ====== > You should

- Dictionary

- Lambda functions

- File handling

============ OOPS Concepts ================= (ML)

- Basic representations

- Inbuilt functions

    - print

    - type

    - len

    - sum

    - max

    - min

    - sorted

    - reveresed

- concatenation

- indexing

- mutable or immutable concept

- slice

- methods

**Basic Representations**

In [1]:
name='python'
name

'python'

In [2]:
print(name)

python

In [3]:
name="python"
name

'python'

- python by defualt gives output in **single quotes**

- when we print the string the output display **without quotes**

In [5]:
str1="I love 'Python'"
print(str1)

I love 'Python'

In [6]:
str2='I love "Python"'
print(str2)

I love "Python"

**Doc string**

- triple quotes also called as doc string

- triple quotes means the user try to convey some information

**type**

In [7]:
name='python'
type(name)

str

In [ ]:
print(<>)
type(<>)
eval(<>)
input()
len()
sum()
max()

**len**

In [8]:
name='python'
len(name)

6

In [9]:
len('hai how are you')

15

**max**

In [10]:
max('python')

'y'

In [11]:
for i in 'python':
    print(ord(i),i)

112 p
121 y
116 t
104 h
111 o
110 n

**min**

In [12]:
min('python')

'h'

**sum**

In [13]:
sum('python')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**sorted**

- sorted means either ascending or descending order

- ascending order : Small to Big

- descending : Big to Small

In [16]:
sorted('python')
# By default ascending
# can i change the order?

['h', 'n', 'o', 'p', 't', 'y']

In [ ]:
**iterable**: Anything that can be print using loop

/

In [21]:
def add(a,b):
    print(a+b)
add(10,20)  ############# Works

30

In [22]:
def add(a,b):
    print(a+b)
add(a=10,b=20) ########## Works

30

In [23]:
def add(a,/,b):
    print(a+b)
add(a=10,b=20)   /

TypeError: add() got some positional-only arguments passed as keyword arguments: 'a'

In [24]:
def add(a,/,b):
    print(a+b)
add(10,b=20)

30

In [25]:
def add(a,/,b):
    print(a+b)
add(a=10,20)

SyntaxError: positional argument follows keyword argument (3787002837.py, line 3)

In [ ]:
a,/,b
a=10 b=10  ==== fail
a=10 30   ==== fail
10  b=30     === pass

In [ ]:
def add(a,b):
    print(a+b)
add(10,20)  ############### Works

def add(a,b):
    print(a+b)
add(a=10,b=20) ########## Works

def add(a,/,b):
    print(a+b)
add(a=10,b=20)   ########### F F  / a=10  b=20

def add(a,/,b):
    print(a+b)
add(10,b=20)  ##########  Pass    b=20

def add(a,/,b):
    print(a+b)
add(a=10,20) ====== slash before not working

In [ ]:
(a,/,b)
a=10  b=20  ===== > F
a=10  20    ===== > F
10    20   ===== > W
10   b=20  ===== > W

In [26]:
sorted(iterable='python')

TypeError: sorted expected 1 argument, got 0

**Note:** 

- / before dont use argument name

- / after you can use argument name, that is our wish

- (*) indicates no need maintain the order of the arguments

In [28]:
def add(a,/,*,b,c):
    print(a+b+c)

add(10,c=20,b=30)

60

In [29]:
add(10,c=20)

TypeError: add() missing 1 required keyword-only argument: 'b'

In [30]:
add(10,20)

TypeError: add() takes 1 positional argument but 2 were given

In [31]:
def add(a,/,*,b,c):
    print(a+b+c)

add(10,20,30)

TypeError: add() takes 1 positional argument but 3 were given

**Note**

(*) indicates provide the argument name

In [33]:
sorted('python',True)

# / before dont use ==== correct
# * after you should use === wrong

TypeError: sorted expected 1 argument, got 2

In [34]:
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [ ]:
sorted('python')  # w  by default reverse=False
sorted(iterable='python') # F
sorted('python',reverse=True) # W
sorted(iterable='python',reverse=True) # F
sorted('python',True) # F

**reveresd**

In [35]:
reversed(sequence='prashanth')

TypeError: reversed() takes no keyword arguments

In [37]:
ans=reversed('prashanth')
ans

- Answer saved at address memory location

- we can see the answer by using for loop or list

- whenever we see less than greater than symbol answer

- try to apply for loop or list

In [38]:
for i in ans:
    print(i)

h
t
n
a
h
s
a
r
p

In [40]:
ans=reversed('prashanth')
list(ans)

['h', 't', 'n', 'a', 'h', 's', 'a', 'r', 'p']

**Concatenation**

In [41]:
str1='hello'
str2='python'
str1+str2

'hellopython'

In [ ]:
str1-str2  # see the error
str1*str2  # see the error
str1/str2  # see the error

In [42]:
str1-str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [43]:
str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [44]:
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
str1-str2:
TypeError: unsupported operand type(s) for -: 'str' and 'str'

str1/str2:
TypeError: unsupported operand type(s) for /: 'str' and 'str'

str1(sequence)*3:
TypeError: can't multiply sequence by non-int of type 'str'

In [45]:
'python'*3

'pythonpythonpython'

In [47]:
str1='hello '
str2='python'
str1+str2

'hello python'

In [48]:
str1='hello'
str2=' python'
str1+str2

'hello python'

In [49]:
str1='hello'
str2='python'
str1+' '+str2

'hello python'

In [ ]:
- Basic represenations

- min max len

- sorted  

- reveresd

- concatenation